body
{
	margin: 30px; 
	padding: 2px;
	font-family: sans-serif;
	/*background: url(varsity.jpg) no-repeat;*/ /* for html */
	background: url('../image/varsity.jpg') no-repeat; /*for django*/
	background-size: cover;
}

.option
{
	margin: 30px;
	padding: 15px;
}

.option2
{
	padding: 10px;
	font-size: 20px;
}