
body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url('../image/bb.jpg') no-repeat;
	background-size: cover;
}
.login-box
{
	width: 280px;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	color: white;

}
.login-box h1
{
	float: left;
	font-size: 40px;
	border-bottom: 8px solid #4CAF50;
	margin-bottom: 50px;
	padding: 16px;
}
.text-box
{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px;
	margin: 8px;
	border-bottom: 1px solid #4CAF50;

}
.test-box i
{
	width: 26px;
	float: left;
	text-align: center;
}
.text-box input
{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 80% ;
	float: right;
	margin: 0 10px;
}
.but
{
	width: 100%;
	background: none;
	border: 2px solid #4CAF50;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
}

